.arrow_box {
  position: relative;
  z-index: 99;
  background: $background;
  border: 1px solid $medium !important; /*set border colour here*/
  width: 40em;
  border-radius: 0.5em !important;
  margin-bottom: 0em;
  padding-bottom: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center !important;
  ul {
    margin-left: -2.5em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    li {
      line-height: 0.5em;
      padding: 0em 1em;
      display: flex;
      justify-content: flex-start;
      width: 70%;

      border-radius: 0.6em;
      &:hover {
        background: $surface;
      }
    }
  }
}

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: -20%;
  width: -20%;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: $background;
  border-width: 0.5em;
  left: 50%;
  margin-left: -0.76em;
}

.arrow_box:before {
  border-color: rgba(113, 158, 206, 0);
  border-bottom-color: $medium;
  border-width: 0.57em;
  left: 50%;
  margin-left: -0.83em;
}
