.wrapper-register-login {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  z-index: 10000 !important;
  width: 100%;
  height: 104%;
}

.login {
  position: relative;
  width: 100%;
  height: 104vh;
  display: flex;
  justify-content: center;
}

.login h3 {
  margin: 0;
  line-height: 1em;
  height: 1em;
  margin-top: 0.5em;
}

.login p {
  line-height: 1.2em;
  margin: 1.5em 0em 2.2em 0em;
  height: 0;
  color: $normalColor;
}

label {
  margin: 0;
  height: 1em;
}

.login-wrapper {
  position: relative;
  border-radius: $borderRadius + 0.2em;
  width: 62%;
  min-width: 20em;
  height: 63%;
  min-height: 25em;
  background: $background;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 1.2em;
  top: 1em;
}

@media (max-width: 600px) {
  .login-wrapper {
    min-width: 60%;
    width: 60%;
  }
}

.login-wrapper form {
  margin-top: 1em;
  width: 100%;
  height: 30%;
  min-height: 12em;
  display: flex;
  padding-top: 1em;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.iconInput {
  position: absolute;
  left: 0.8em;
  top: 0.75em;
  max-width: 1.2em;
}

.input {
  outline: none;
  border-radius: $borderRadius + 0.2em;
  background: $background;
  border: 0.09em solid $medium;
  width: 100%;
  padding: 0.6em 2em;
  padding-left: 2.6em;
  font-weight: 500;
  font-size: 0.95em;
  color: $textColor;
  &:hover {
    border-color: $normalColor;
  }
  &:focus {
    border-color: $primaryColor;
    stroke: blue !important;
  }
  &::placeholder {
    color: $normalColor;
  }
}
.input:focus + .iconInput {
  fill: none !important;
  stroke-width: 3 !important;
  stroke: $primaryColor !important;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $borderRadius + 0.2em;
  color: $surface;
  background: $primaryColor;
  width: 100%;
  height: 2.5em;
  &:hover {
    background: rgb(70, 57, 255);
    input {
      background: rgb(70, 57, 255);
    }
  }
  input {
    width: 100%;
    height: 100%;
    border-radius: $borderRadius + 0.2em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    display: flex;
    background: $primaryColor;
    color: white;
  }
}

.horizontalLine {
  background: $normalColor;
  width: 90%;
  height: 0.03em;
  margin-bottom: 1.3em;
}

.help a {
  @include regularFont();
  color: rgb(161, 161, 255);
}

.form-p {
  width: 80%;
}

.register-wrapper {
  position: relative;
  border-radius: $borderRadius + 0.7em;
  width: 40%;
  min-width: 20em;
  align-self: center;
  background: $background;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.register-wrapper h3 {
  height: auto;
}

@media (max-width: 600px) {
  .register-wrapper {
    min-width: 60%;
    width: 75%;
  }
}

.register-wrapper form {
  width: 100%;
  height: 50%;
  min-height: 10em;
  display: flex;
  margin-top: 1em;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.validInput {
  border-color: $normalColor;
}
.errorInput {
  border-color: red;
}

span path {
  stroke: red !important;
}

.input-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.register-wrapper .help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
  width: 100%;
}

.register-wrapper .help p {
  margin: 0;
  height: 1.6em;
}

.white-space-height {
  position: relative;
  height: 93vh;
}
